.navbar-brand img {
  width: 100px; /* Ändere die Breite des Logos für Mobilgeräte */
  height: auto; /* Auto-Höhe beibehalten */
}
@media (max-width: 768px) {
  .navbar-brand img {
    width: 80px; /* Ändere die Breite des Logos für Mobilgeräte */
    height: auto; /* Auto-Höhe beibehalten */
  }
}
