.navbar-brand img {
  width: 100px; /* Ändere die Breite des Logos für Mobilgeräte */
  height: auto; /* Auto-Höhe beibehalten */
}
@media (max-width: 768px) {
  .navbar-brand img {
    width: 80px; /* Ändere die Breite des Logos für Mobilgeräte */
    height: auto; /* Auto-Höhe beibehalten */
  }
}

/* Cookie Banner Styles */
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  display: none; /* Initially hidden */
  z-index: 1000;
  text-align: center;
}

.cookie-content {
  max-width: 800px;
  margin: 0 auto;
}

.cookie-button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
}

.cookie-button:hover {
  background-color: #ddd;
}

.cookie-link {
  color: #0f9;
  text-decoration: underline;
}
img:hover {
  transform: scale(1.05);
  filter: grayscale(0%) contrast(1.3);
}
